@model List<Category>

@{
    ViewData["Title"] = "FAQs";
}

<div class="content-header">
    <h1>Frequently Asked Questions</h1>
</div>

<p>Select one of the topics below to see related FAQs.</p>

<div class="container tiles">

    @* loop through each category and display FAQs *@
    @foreach (var item in Model)
    {
        @if (item.FAQs.Count > 0)
        {
            <a class="tile-link" asp-controller="FAQ" asp-action="ByCategory" asp-route-categoryID="@item.CategoryID">
                <div class="tile-container">
                    <span class="tile-content">
                        @Html.DisplayFor(modelItem => item.Name)
                    </span>
                </div>
            </a>
        }
    }
</div>
