/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6; /* Link Blue */
}

a:hover {
    text-decoration: none !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2; /* NWEEI Medium Blue */
    border-color: #1861ac; /* NWEEI Dark Blue */
}

.btn {
    border-radius: 20px !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2; /* NWEEI Blue */
    border-color: #1861ac; /* NWEEI Dark Blue */
}

.btn-light {
    color: #666666; /* Krylon Classic Gray */
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}




/* -------------------------------------------------- */

/* HEADER */
.header-content {
    position: relative;
    height: 30vh;
    min-height: 275px;
    width: 100%;
}

.swoop {
    position: absolute;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    width: 100%;
    z-index: -1;
    min-height: 177px;
    max-height: 60%;
    top: 0;
    left: 0;
}

.logo {
    position: relative;
    width: 25%;
    min-width: 230px;
    max-width: 280px;
    top: 5%;
    left: 4%;
}

.header-info {
    display: inline-block;
    position: relative;
    top: 9%;
    right: 4%;
    text-align: right;
    float: right;
}

    @media (max-width: 750px) {
        .header-desc {
            font-size: .8em !important;
        }

        .header-phone > a {
            font-size: .8em !important;
        }
    }

    .header-desc {
        position: relative;
        padding: 5px;
        color: #f0f0f0; /* Chrysler White*/
        font-weight: bold;
        font-size: 1em;
    }

    .header-phone {
        display: inline-block;
        padding: 5px;
    } 

.hero {
    position: absolute;
    width: 100%;
    z-index: -2;
    left: 0;
    bottom: 0;
    min-height: 90%;
}


/* -------------------------------------------------- */


/* NAVIGATION */

/* navbar */

.navigation {
    background-color: #44A5F9; /* NWEEI Light Blue */
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
}

.sub-navigation {
    background-color: #FEB913; /* NWEEI Yellow */
    color: blue;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: .9em;
}

.navigation > span,
.sub-navigation > span {
    padding: 12px;
}


/* breadcrumb */

.custom-breadcrumb {
    position: relative;
    margin-bottom: 3%;
    line-height: 1em;
    left: -2%;
}

.breadcrumb-icon {
    vertical-align: middle;
    margin-right: 3px;
    font-size: 0.8em;
}

.breadcrumb-name {
    vertical-align: middle;
    font-size: 1.1em;
}



/* -------------------------------------------------- */


/* PAGE CONTENT */
.main-content-container {
    z-index: 5;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 7%;
}

.main-content-inner {
    
}

.content-header {
    position: relative;
    margin-bottom: 2%;
}

.content-section {
    padding: 4% 0%;
    line-height: 2.3em;
    justify-content: space-around;
    align-items: center;
}

.content-highlight-container {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.content-highlight {
    height: 100%;
    width: 30%;
    display: inline-block;
    align-items: center;
}

.content-info {
    height: 100%;
    width: 50%;
    display: inline-block;
    align-items: center;
}

.button-group {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.button-group > .btn {
    font-size: 1.1em !important;
}


.content-image {
    width: 40%;
    border-radius: 5px;
}

.dark-block {
    background-color: #03529B; /* NWEEI Very-Dark Blue */
    color: #bcd9f7; /* NWEEI Very-Light Blue */
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.dark-block :is(h4, h6) {
    color: white;
}

.light-block {
    background-color: #fedd90; /* NWEEI Light Yellow */
    color: #03529b; /* NWEEI Very-Dark Blue */
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.light-block :is(h4, h6) {
    color: #2c4592; /* NWEEI Medium-Dark Blue*/
}


/* buttons */

.admin-action-button {
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    font-size: 1.1em !important;
}

.admin-action-button > * {
    color: white;
    text-decoration: none;
}

.admin-action-button > a:hover {
    color: powderblue;
    text-decoration: none;
}

/* -------------------------------------------------- */


/* TABLES */

.manage-table {
    font-size: .8em;
}

.title {
    width: 38%;
}

/* -------------------------------------------------- */


/* HOME */
.welcome {
    line-height: 1.5em;
    text-align: left;
}


/* -------------------------------------------------- */


/* ADMIN DASHBOARD */
.dashboard-tile {
    /*
        In the following styling, I've added static percentages as inline comments.
        This means if we switch between px or em or vw/vw as sizing measurement,
        we can easily do so while also preserving the sizing proportions.
        100% is equal to the length or width of the dashboard-tile element.
        All box-shadows have a size of 0%, 6%, 6%, 3%, or 0%, -6%, 6%, 3%. 
    */
    /*Text*/
    color: gray;
    font-size: 32px; /* 16% */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /*Size (should be square) */
    width: 200px; /* 100% */
    height: 200px; /* 100% */
    min-width: 200px; /* 100% */
    min-height: 200px; /* 100% */
    /*Box Model*/
    padding: 16px; /* 8% */
    margin: 32px; /* 16% */
    /*Overall Visual*/
    background-color: white;
    border: 0px rgba(0,0,0,0);
    border-radius: 32px; /* 16% */
    box-shadow:
        rgba(0,0,0,0.2) 0px 12px 12px 6px, /* 0%, 6%, 6%, 3% */
        rgba(0,0,0,0.2) 0px -12px 12px 6px inset; /* 0%, -6%, 6%, 3% */
}

.dashboard-tile div {
    font-size: 16px; /* 8% */
    padding: 8px; /* 8% */
    text-transform: uppercase;
}

.dashboard-tile:hover {
    animation-duration: 0.2s;
    animation-name: tileStaticToHover;
    color: royalblue;
    box-shadow:
        rgba(2,82,155,0.4) 0px 12px 12px 6px,
        rgba(2,82,155,0.4) 0px -12px 12px 6px inset;
}
.dashboard-tile:not(:hover) {
    animation-duration: 0.2s;
    animation-name: tileHoverToStatic;
}

.dashboard-tile:active {
    animation-duration: 0.2s;
    animation-name: tileHoverToActive;
    box-shadow: rgba(2,82,155,0.4) 0px 12px 12px 6px inset;
}



@keyframes tileStaticToHover {
    from {
        color: gray;
        box-shadow:
            rgba(0,0,0,0.2) 0px 12px 12px 6px,
            rgba(0,0,0,0.2) 0px -12px 12px 6px inset;
    }

    to {
        color: royalblue;
        box-shadow:
            rgba(2,82,155,0.4) 0px 12px 12px 6px,
            rgba(2,82,155,0.4) 0px -12px 12px 6px inset;
    }
}

@keyframes tileHoverToStatic {
    from {
        box-shadow:
            rgba(2,82,155,0.4) 0px 12px 12px 6px,
            rgba(2,82,155,0.4) 0px -12px 12px 6px inset;
    }

    to {
        box-shadow:
            rgba(0,0,0,0.2) 0px 12px 12px 6px,
            rgba(0,0,0,0.2) 0px -12px 12px 6px inset;
    }
}

@keyframes tileHoverToActive {
    from {
        box-shadow:
            rgba(2,82,155,0.4) 0px 12px 12px 6px,
            rgba(2,82,155,0.4) 0px inset;
    }

    to {
        box-shadow:
            rgba(2,82,155,0.4) 0px,
            rgba(2,82,155,0.4) 0px 12px 12px 6px inset;
    }
}

/* -------------------------------------------------- */
/* CATEGORY TILES */
.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 8px;
    background-color: #03529B;
    border-radius: 20px;
}

.tile-content {
    padding: 10px;
    text-align: center;
}

.tile-content > * {
    color: white !important;
}

.tile-link {
    color: white !important;
}



/* -------------------------------------------------- */


/* ARTICLES */

/* user views */

.articles {
    padding: 20px;
}

.article-tile-container {
    padding: 10px;
    background-color: #03529B;
    border-radius: 20px;
    margin: 10px;
}

.article-tile-content {
    width: 90%;
    padding: 10px;
}

.article-tile-title {
    font-size: 1.1em;
    color: white;
    padding: 2px;
}

.article-tile-preview {
    font-size: .9em;
    font-style: italic;
    color: lightgrey;
    padding: 2px;
}

.article-tile-date {
    font-size: .8em;
    font-style: italic;
    color: lightslategrey;
    padding: 2px;
}

/* -------------------------------------------------- */


/* FAQs */
.card-header {
    cursor: pointer;
}

.fa-chevron-up {
    position: relative;
    float: right;
    color: #999999;
    transition: all 0.3s ease;
}

.card-link.collapsed > .fa-chevron-up {
    transform: rotate(180deg);
}

.edit-textarea {
    height: 15vh !important;
}


/* -------------------------------------------------- */
/* DEGREES */
.degree-header {
    background-image: url('../images/shutterstock_56230774.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 21%;
    background-size: cover;
    z-index: 1;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.degree-title {
    position: relative;
    text-align: center;
    z-index: 2;
    color: white;
    font-size: 2.8em;
    font-weight: 600;
    text-shadow: 2px 2px 6px #222222;
}


/* embc */


/* -------------------------------------------------- */

/* BEGIN: FORMS */

/* The AddRow button is for dynamically adding for fields to a document. */
#addRow{

}

/* Have nice buttons for inputgroup append and input group prepend that match the rest of the site.*/
.input-group-append > button {
    color: #dc3545;
    border: 3px solid rgba(0,0,0,0.1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: .375rem;
}

.input-group-append > button:hover {
    color: white;
    background-color: #dc3545;
    border-color: #dc3545;
    text-shadow: 0px 0px 5px 5px white;
    /* box-shadow: rgba(255, 0, 0, 0.9) 3px 0px 10px 1px; */
    animation-name: buttonAppendHover;
    animation-duration: 0.2s;
}

@keyframes buttonAppendHover{
    from {
        color: #dc3545;
        border-color: #dc3545;
    }

    to {
        color: white;
        background-color: #dc3545;
    }
}

    /* END: FORMS */





/* -------------------------------------------------- */


/* CATEGORY SELECTOR */

.category-selector {
    margin: 3% 0%;
}

.form-select {
    padding: 1%;
}



/* -------------------------------------------------- */


/* SEARCH */

.search-container {
    text-align: center;
    position: relative;
    top: -2.19em;
}

.search-bar {
    border-radius: 20px;
    width: 70%;
    margin: auto;
    padding: 15px;
    display: inline !important;
    position: relative;
}

.search-bar-content {
    width: 100%;
}

.search-submit {
    position: relative;
    right: 2%;
    top: 11px;
}

.search-submit i {
    position: absolute;
    right: 3%;
}

.search-results-container {
    margin: 4% 0%;
}

.search-result {
    padding: 1% 0%;
}

.search-result-heading {
    font-size: 0.9em;
}

.search-preview > * {
    color: grey !important;
    font-size: 0.8em !important;
}