@{
    ViewData["Title"] = "Career Map";
}
<h1>Green Buildings - Career Map</h1>
<h5 class="text-muted">You can view this map and more on Green Building's site by clicking <a href="https://greenbuildingscareermap.org/" target="_blank">here.</a></h5>
<iframe src="https://greenbuildingscareermap.org/" name="careerMap" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="1300px" width="1152px" allowfullscreen></iframe>