@model List<Organization>

@{
    ViewData["Title"] = "Industry Associations";
}

<div class="container content-section" style="padding-top:1%;">
    <h3>Industry Associations</h3>
    <p>
        Highlighted below are some of the most important and influential
        energy and water-related professional organizations that provide
        educational resources, guidance, and support within the industry.
    </p>
</div>

<div class="tiles">

    <!-- loop through orgs -->
    @foreach (var org in Model)
    {
        <div class="card-container">
            <a class="org-link" asp-controller="Organization" asp-action="Details" asp-route-id="@org.OrganizationID">
                <div class="org-card">

                    <!-- logo image / text -->
                    <div class="org-logo">

                        @if (org.ImageFileName != null)
                        {
                            <div class="org-img" style="background-image: url('../images/orgs/@org.ImageFileName')"></div>
                        }
                        else if (org.ImageURL != null)
                        {
                            <div class="org-img" style="background-image: url('@org.ImageURL')"></div>
                        }
                        else
                        {
                            <div class="text-logo">
                                @org.ShortName
                            </div>
                        }

                    </div>

                    <!-- name -->
                    <div class="org-name">
                        <h6>@org.Name</h6>
                    </div>

                </div>

            </a>
        </div>
    }
</div>
