@model NWEEI.Models.PaymentOption

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a asp-action="Index" data-btn-list></a>
</div>

<h1>Create:</h1>
<h4>Payment Option</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <input asp-for="Option" class="form-control" placeholder="Payment Option"/>
                <span asp-validation-for="Option" class="invalid"></span>
            </div>
            <button data-btn-form-create> Payment Option</button>
        </form>
    </div>
</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}

