@model NWEEI.Models.PaymentOption

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-action="Index" data-btn-list></a>
<h1 class="text-center">Payment Options</h1>
<p>
    <h4 class="text-center">Are you sure you want to delete @Model.Option?</h4>
</p>

<div class="row justify-content-center">
    <div class="col-auto"> 
        <dl class="row">
            <dt class = "col-auto">
                @Html.DisplayNameFor(model => model.Option)
            </dt>
            <dd class = "col-auto">
                @Html.DisplayFor(model => model.Option)
            </dd>
        </dl>
        <div class="d-flex justify-content-center">
            <form asp-action="Delete">
                <input type="hidden" asp-for="PaymentOptionID" />
                <input type="submit" value="Delete" class="btn btn-outline-danger" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </form>
        </div>
    </div>
</div>