@model NWEEI.Models.PaymentOption

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-action="Index" data-btn-list></a>
<h1 class="text-center">Payment Options</h1>
<p>
    <h4 class="text-center">Edit: @Model.Option</h4> 
</p>

<div class="row justify-content-center">
    <div class="col-auto"> 
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-auto"> 
        <div class="row">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="PaymentOptionID" />
                <div class="form-group">
                    <input asp-for="Option" class="form-control" placeholder="Payment Option"/>
                    <span asp-validation-for="Option" class="invalid"></span>
                </div>
                <button data-btn-form-save></button>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}