@model NWEEI.Models.Article

@{
    ViewData["Title"] = "Details";
}

<div class="custom-breadcrumb">
    <a asp-action="Index">
        <span class="breadcrumb-icon"></span>
        <span class="breadcrumb-name"><< Back to Articles</span>
    </a>
</div>

<div>
    <!-- article header: title, publish date, edit option-->
    <div>
        <div><h1>@Model.Title</h1></div>

        <div class="content-header">
            <!-- admin edit button -->
            <span class="admin-action-button btn btn-primary">
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.ArticleID">Edit Article</a>
                }
            </span>

            <!-- publish date -->
            <span class="publish-date"><i>Published on @Model.PublishDate.ToShortDateString()</i></span>
        </div>
        
    </div>

    <hr />

    <!-- article body -->
    <div class="article-body">
        @Html.Raw(Model.Body)
    </div>
</div>
