@model IEnumerable<NWEEI.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<!-- ~* dev note *~ -->
<h3>This page's content has been moved to article/manage. This page will be repurposed for article search.</h3>
<!-- ~* end dev note *~ -->

