@model NWEEI.ViewModels.OrganizationTagViewModel

@{
    ViewData [ "Title" ] = "Create";
}

<h1>Add an Organization</h1>
<hr />
<div class="row">
    <div class="col-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentOrganization.Name" class="control-label">Organization Name</label>
                <input asp-for="CurrentOrganization.Name" class="form-control" />
                <span asp-validation-for="CurrentOrganization.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
                <script type="text/javascript" src="/richtexteditor/rte.js"></script>
                <script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>
                <script type="text/javascript" src="/rte-upload.js"></script>
                <label asp-for="CurrentOrganization.Description" class="control-label"></label>
                <input asp-for="CurrentOrganization.Description" name="htmlcode" id="inp_htmlcode" type="hidden" class="form-control" />
                <div id="div_editor1" class="richtexteditor" style="width: 960px;margin:0 auto;"></div>
                <script>
                    var editor1 = new RichTextEditor(document.getElementById("div_editor1"));
                    editor1.setHTML(document.getElementById("inp_htmlcode").value)
                    editor1.attachEvent("change", function () {
                        document.getElementById("inp_htmlcode").value = editor1.getHTMLCode();
                    });
                </script>
                <span asp-validation-for="CurrentOrganization.Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-auto">
                    <label asp-for="CurrentOrganization.ImageURL" class="control-label"></label>
                    <input asp-for="CurrentOrganization.ImageURL" class="form-control" />
                    <span asp-validation-for="CurrentOrganization.ImageURL" class="text-danger"></span>
                </div>
                <div class="form-group col-auto">
                    <label asp-for="CurrentOrganization.WebsiteURL" class="control-label"></label>
                    <input asp-for="CurrentOrganization.WebsiteURL" class="form-control" />
                    <span asp-validation-for="CurrentOrganization.WebsiteURL" class="text-danger"></span>
                </div>
            </div>

            @*TODO: Add Tag Radio CheckBox selector*@
            <!-- tag selector -->
        <table>
            <thead>Tags</thead>
            @for ( int i = 0 ; i < Model.Tags.Count ; i++ )
                {
                <tr>
                    @Html.CheckBoxFor( Model.CurrentTags., Model.CurrentTags.)
                    @Html.HiddenFor( m => m.EmploymentType [ i ].Text )
                    @Html.CheckBoxFor( Model.CurrentTags )
                </tr>

                }
        </table>

            @*Good work so far, but I need to find a way to put the selected tags towards the CurrentOrganization.TagKeys List property.*@

            <hr />
            <div class="form-group">
                <button data-btn-form-create></button>
            </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );} 
}

