@model List<Category>

@{
    ViewData["Title"] = "Article Categories";
}

<h1 class="pb-3">Article Categories</h1>
<div class="container tiles">
    @foreach (var item in Model)
    {
        @if (item.Articles.Where(a => a.IsPublished == true).ToList().Count > 0)
        {
            <a class="tile-link" asp-controller="Article" asp-action="ByCategory" asp-route-categoryID="@item.CategoryID">
                <div class="tile-container">
                    <span class="tile-content">
                        @Html.DisplayFor(modelItem => item.Name)
                    </span>
                </div>
            </a>
        }
    }
</div>