<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NWEEI</title>
    <link rel="icon" type="image/x-icon" href="~/images/NWEEI-favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> @*icons*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> @*icons*@
</head>
<body>
    <header>

        <!-- swoop and hero image -->
        <div class="header-content">
            <!-- swoopy -->
            <img class="swoop" src="~/images/NWEEI-Wave.png" />

            <!-- logo -->
            <img class="logo" src="~/images/NWEEI-logo_white.png" />

            <!-- short description and call button -->
            <div class="header-info">
                <div class="header-desc">Education & Training for Energy & Water Professionals</div>
                <div class="header-phone"><a class="btn btn-light" href="tel:5415567724">Call Now: (541) 556-7724</a></div>
            </div>

            <!-- placeholder hero image -->
            <img class="hero" src="~/images/lightning_bolts_needles_1024.jpg" />
        </div>

        <!-- BEGIN NAVIGATION -->
        <nav>
            <!-- top-level navigation menu -->
            <div class="navigation">
                <span><a class="text-dark" asp-controller="Home" asp-action="Index">Home</a></span>
                <span><a class="text-dark" asp-controller="About" asp-action="Index">About</a></span>
                <span><a class="text-dark" asp-controller="Programs" asp-action="Degrees">Degrees</a></span>
                <span><a class="text-dark" asp-controller="Programs" asp-action="Certificates">Certificates</a></span>
                <span><a class="text-dark" asp-controller="Resources" asp-action="Index">Resources</a></span>
                <span><a class="text-dark" asp-controller="Registration" asp-action="Create">Register</a></span>
            </div>

            <!-- sub navigation menu (dynamic) -->
            <div class="sub-navigation">
                @if (@ViewBag.Current == "ContactOption")
                {
                    <span><a class="text-dark" asp-controller="Home" asp-action="Index">Contact Us</a></span>
                }
                else if (ViewBag.Current == "About")
                {
                    <span><a class="text-dark" asp-controller="About" asp-action="Index">Mission & History</a></span>
                    <span><a class="text-dark" asp-controller="About" asp-action="Index">Instructors</a></span>
                    <span><a class="text-dark" asp-controller="About" asp-action="Index">Staff</a></span>
                }
                else if (ViewBag.Current == "Degrees")
                {
                    <span><a class="text-dark" asp-controller="Programs" asp-action="EMBC">Energy Management and Building Controls</a></span>
                    <span><a class="text-dark" asp-controller="Programs" asp-action="Index">Water Conservation</a></span>
                    <span><a class="text-dark" asp-controller="Programs" asp-action="Index">Custom Training</a></span>
                }
                else if (ViewBag.Current == "Certificates")
                {
                    <span><a class="text-dark" asp-controller="Programs" asp-action="Index">Energy Management</a></span>
                    <span><a class="text-dark" asp-controller="Programs" asp-action="Index">Building Operator</a></span>
                }
                else if (ViewBag.Current == "Resources")
                {
                    <span><a class="text-dark" asp-controller="Resources" asp-action="Index">NWEEI News</a></span>
                    <span><a class="text-dark" asp-controller="Resources" asp-action="Index">Industry News</a></span>
                    <span><a class="text-dark" asp-controller="Resources" asp-action="Index">Jobs</a></span>
                    <span><a class="text-dark" asp-controller="Resources" asp-action="CareerMap">Career Map</a></span>
                    <span><a class="text-dark" asp-controller="Organizations" asp-action="Index">Industry Assocations</a></span>
                    <span><a class="text-dark" asp-controller="Category" asp-action="Index">Articles</a></span>
                    <span><a class="text-dark" asp-controller="FAQ" asp-action="Index">FAQs</a></span>
                }
            </div>
        </nav>
        <!-- END NAVIGATION -->

    </header>

    <!-- PAGE CONTENT CONTAINER -->
    <div class="main-content-container">
        <div class="main-content-inner container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <!-- END PAGE CONTENT CONTAINER -->
    <!-- FOOTER -->
    <footer class="border-top footer text-muted bg-dark fixed-bottom">
        <div class="container">
            <partial name="_LoginPartial" />
        </div>
    </footer>
    <!-- END FOOTER -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
