@using NWEEI.ViewModels

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NWEEI</title>
    <link rel="icon" type="image/x-icon" href="~/images/NWEEI-favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Staff.css" />
    <link rel="stylesheet" href="~/css/org.css" />
    <link rel="stylesheet" href="~/css/article.css" />
    <link rel="stylesheet" href="~/css/accordion.css" />
    <link rel="stylesheet" href="~/css/program.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> @*icons*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> @*icons*@
</head>
<body>
    <header>

        <!-- swoop and hero image -->
        <div class="header-content">
            <!-- swoopy -->
            <img class="swoop" src="~/images/NWEEI-Wave.png" />

            <!-- logo -->
            <img class="logo" src="~/images/NWEEI-logo_white.png" />

            <!-- short description, contact form, and call button -->
            <div class="header-info">
                <div class="header-desc">Education & Training for Energy & Water Professionals</div>

                <div class="mt-1">
                    <div class="header-search">

                        <!-- search bar begin -->
                        <form method="post">
                            <div class="form-group mb-0">
                                <!-- search input and icon -->
                                <div class="search-bar-content">

                                    @{
                                        // create SearchViewModel object and if input is given, assign it to SearchQuery property
                                        SearchViewModel viewModel = new SearchViewModel();
                                    }
                                    <!-- search input -->
                                    <input asp-for="@viewModel.SearchQuery" class="form-control header-search-bar" placeholder="Search NWEEI..." />

                                    <!-- icon -->
                                    <span class="search-submit">
                                        <button type="submit"
                                                asp-controller="Resources" asp-action="Index"
                                                style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit; position: absolute;">
                                            <i type="submit" class="fa fa-search mr-2"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <!-- search bar end -->

                    </div>
                    
                    <hr class="header-divider" />

                    <!-- call icon -->
                    <div class="header-phone">
                        <a class="phone-button" href="tel:5415567724"><i type="submit" class="fa fa-phone"></i></a>
                    </div>

                    <!-- email icon -->
                    <div class="header-phone">
                        <a class="phone-button" asp-action="ContactUs" asp-controller="About"><i type="submit" class="fa fa-envelope"></i></a>
                    </div>

                </div>
            </div>
            @*
            <!-- placeholder hero carousel -->
            @if (ViewBag.Current == "Degrees")
            { 
                <div id="heroCarousel" class="carousel slide hero" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="" src="~/images/lightning_bolts_needles_1024.jpg" alt="Lightning on the Water">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/header_slideshowimages/default/IMG_4350.jpg" alt="A group of people standing in front of a fence near vegitation">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/header_slideshowimages/default/IMG_8855.jpg" alt="People hold and observing funnels on a lawn">
                        </div>
                    </div>
                </div>
            }
            else
            *@
                <!-- placeholder hero image -->
                <img class="hero" src="~/images/lightning_bolts_needles_1024.jpg" />
        </div>

        <!-- BEGIN NAVIGATION -->
        <nav>
            <!-- top-level navigation menu -->
            <div class="navigation">
                <span>
                    <a class="text-dark" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </span>
                <span>
                    <a class="text-dark" asp-controller="About" asp-action="Index">
                        About
                    </a>
                </span>
                <span>
                    <a class="text-dark" asp-controller="Programs" asp-action="Degrees">
                        Degrees
                    </a>
                </span>
                <span>
                    <a class="text-dark" asp-controller="Programs" asp-action="ProfessionalDevelopment">
                        Professional Development
                    </a>
                </span>
                <span>
                    <a class="text-dark" asp-controller="Resources" asp-action="Index">
                        Resources
                    </a>
                </span>
                <span>
                    <a class="text-dark" asp-controller="Registration" asp-action="Create">
                        Register!
                    </a>
                </span>
            </div>

            <!-- sub navigation menu (dynamic) -->
            <div class="sub-navigation">
                @if (ViewBag.Current == "About")
                {
                    <span>
                        <a class="text-dark" asp-controller="About" asp-action="Contact">
                            Contact & Location
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="About" asp-action="History">
                            Mission & History
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="About" asp-action="Instructors">
                            Instructors
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="About" asp-action="Staff">
                            Staff
                        </a>
                    </span>
                }
                else if (ViewBag.Current == "Degrees")
                {
                    /*
                    // not a currently valid degree
                    <span>
                        <a class="text-dark" asp-controller="Programs" asp-action="EnergyMgmt">
                            Energy Management
                        </a>
                    </span>
                    */

                    <span>
                        <a class="text-dark" asp-controller="Programs" asp-action="EMBC">
                            Energy Management with Building Controls
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="Programs" asp-action="WaterConservation">
                            Water Conservation
                        </a>
                    </span>
                }
                else if (ViewBag.Current == "Professional Development")
                {
                    <span>
                        <a class="text-dark" asp-controller="Programs" asp-action="BOC">
                            Building Operator Certification
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="TrainingPrograms" asp-action="CustomTraining">
                            Custom Training
                        </a>
                    </span>
                }
                else if (ViewBag.Current == "Resources")
                {
                    <span>
                        <a class="text-dark" asp-controller="Resources" asp-action="NWEEINews">
                            NWEEI News
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="Resources" asp-action="IndustryNews">
                            Industry News
                        </a>
                    </span>

                    /*
                    // not currently active
                    <span>
                        <a class="text-dark" asp-controller="Resources" asp-action="Index">
                            Jobs
                        </a>
                    </span>
                    */

                    <span>
                        <a class="text-dark" asp-controller="Resources" asp-action="CareerMap">
                            Career Map
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="Resources" asp-action="IndustryAssociations">
                            Industry Assocations
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="Category" asp-action="Index">
                            Articles
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="FAQ" asp-action="Index">
                            FAQs
                        </a>
                    </span>
                }
            </div>
        </nav>
        <!-- END NAVIGATION -->

    </header>

    <!-- PAGE CONTENT CONTAINER -->
    <div class="main-content-container">
        <div class="main-content-inner container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <!-- END PAGE CONTENT CONTAINER -->

    <!-- sticky dashboard button -->
    <div class="sticky-dash-icon">
        <a asp-controller="Home" asp-action="Dashboard" style="color: #6cb3ea;">
            <i class="fa-solid fa-user-gear"></i>
            @*<i class="fa-solid fa-user-pen"></i>*@
            @*<i class="fa-regular fa-wrench"></i>*@
            @*<i class="fa-solid fa-screwdriver-wrench"></i>*@
        </a>
    </div>

    <!-- FOOTER -->
    <footer class="border-top footer text-muted bg-dark fixed-bottom">
        <div class="container">
            <partial name="_LoginPartial" />
        </div>
    </footer>
    <!-- END FOOTER -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $('.carousel').carousel({
              interval: 10000
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
