<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NWEEI</title>
    <link rel="icon" type="image/x-icon" href="~/images/NWEEI-favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> @*icons*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> @*icons*@
</head>
<body>
    <header>

        <!-- swoop and hero image -->
        <div class="header-content">
            <!-- swoopy -->
            <img class="swoop" src="~/images/NWEEI-Wave.png" />

            <!-- logo -->
            <img class="logo" src="~/images/NWEEI-logo_white.png" />

            <!-- short description and call button -->
            <div class="header-info">
                <div class="header-desc">Education & Training for Energy & Water Professionals</div>
                <div class="header-phone"><a class="btn btn-light" href="tel:5415567724">Call Now: (541) 556-7724</a></div>
            </div>

            <!-- placeholder hero image -->
            <img class="hero" src="~/images/lightning_bolts_needles_1024.jpg" />
        </div>

        <!-- BEGIN NAVIGATION -->
        <nav>
            <!-- top-level navigation menu -->
            <div class="navigation">
                <span>
                    <a class="text-dark" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-home"></i>
                        Home
                    </a>
                </span>
                <span>
                    <a class="text-dark" asp-controller="About" asp-action="Index">
                        <i class="fa-solid fa-circle-info"></i>
                        About
                    </a>
                </span>
                <span>
                    <a class="text-dark" asp-controller="Programs" asp-action="Degrees">
                        <i class="fa-solid fa-leaf"></i>
                        Degrees
                    </a>
                </span>
                <span>
                    <a class="text-dark" asp-controller="Programs" asp-action="ProfessionalDevelopment">
                        <i class="fa-solid fa-certificate"></i>
                        Professional Development
                    </a>
                </span>
                <span>
                    <a class="text-dark" asp-controller="Resources" asp-action="Index">
                        <i class="fa-solid fa-folder-open"></i>
                        Resources
                    </a>
                </span>
                <span>
                    <a class="text-dark" asp-controller="Registration" asp-action="Create">
                        <i class="fa-solid fa-calendar-days"></i>
                        Register!
                    </a>
                </span>
            </div>

            <!-- sub navigation menu (dynamic) -->
            <div class="sub-navigation">
                @if (ViewBag.Current == "About")
                {
                    <span>
                        <a class="text-dark" asp-controller="About" asp-action="Contact">
                            <i class="fa-solid fa-phone"></i>
                            Contact & Location
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="About" asp-action="History">
                            <i class="fa-solid fa-circle-info"></i>
                            Mission & History
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="About" asp-action="Instructors">
                            <i class="fa-solid fa-chalkboard-user"></i>
                            Instructors
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="About" asp-action="Staff">
                            <i class="fa-solid fa-users"></i>
                            Staff
                        </a>
                    </span>
                } else if (ViewBag.Current == "Degrees")
                {
                    <span>
                        <a class="text-dark" asp-controller="Programs" asp-action="EMBC">
                            <i class="fa-solid fa-bolt-lightning"></i>
                            Energy Management and Building Controls
                        </a>
                </span>
                    <span>
                        <a class="text-dark" asp-controller="Programs" asp-action="WaterConservation">
                            <i class="fa-solid fa-droplet"></i>
                            Water Conservation
                        </a>
                    </span>
                }
                else if (ViewBag.Current == "Professional Development")
                {
                    <span>
                        <a class="text-dark" asp-controller="Programs" asp-action="Index">
                            <i class="fa-solid fa-chart-column"></i>
                            Energy Management
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="Programs" asp-action="Index">
                            <i class="fa-solid fa-building"></i>
                            Building Operator
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="Programs" asp-action="CustomTraining">
                            <i class="fa-solid fa-wand-magic-sparkles"></i>
                            Custom Training
                        </a>
                    </span>
                }
                else if (ViewBag.Current == "Resources")
                {
                    <span>
                        <a class="text-dark" asp-controller="Resources" asp-action="Index">
                            <i class="fa-solid fa-bullhorn"></i>
                            NWEEI News
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="Resources" asp-action="Index">
                            <i class="fa-solid fa-table-columns"></i>
                            Industry News
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="Resources" asp-action="Index">
                            <i class="fa-solid fa-money-bill-wave"></i>
                            Jobs
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="Resources" asp-action="CareerMap">
                            <i class="fa-solid fa-sitemap"></i>
                            Career Map
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="Organizations" asp-action="Index">
                            <i class="fa-solid fa-toolbox"></i>
                            Industry Assocations
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="Category" asp-action="Index">
                            <i class="fa-solid fa-newspaper"></i>
                            Articles
                        </a>
                    </span>
                    <span>
                        <a class="text-dark" asp-controller="FAQ" asp-action="Index">
                            <i class="fa-solid fa-circle-question"></i>
                            FAQs
                        </a>
                    </span>
                }
            </div>
        </nav>
        <!-- END NAVIGATION -->

    </header>

    <!-- PAGE CONTENT CONTAINER -->
    <div class="main-content-container">
        <div class="main-content-inner container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <!-- END PAGE CONTENT CONTAINER -->
    <!-- FOOTER -->
    <footer class="border-top footer text-muted bg-dark fixed-bottom">
        <div class="container">
            <partial name="_LoginPartial" />
        </div>
    </footer>
    <!-- END FOOTER -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
