@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="navigation bg-dark">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Editor") || User.IsInRole("Editor"))
        {
            <span class="nav-item">
                <a class="nav-link text-light bg-dark btn btn-outline-primary" asp-controller="Article" asp-action="Index">Manage Articles</a>
            </span>
        }
        @if (User.IsInRole("Admin"))
        {
            <span class="nav-item">
                <a class="nav-link text-light bg-dark btn btn-outline-primary" asp-controller="Registration" asp-action="Index">Manage Training Registrations</a>
            </span>
            <span class="nav-item">
                <a class="nav-link text-light bg-dark btn btn-outline-primary" asp-controller="AppUser" asp-action="Index">Manage Users</a>
            </span>
        }
        <span class="navbar-text">
            <a class="nav-link text-light bg-dark btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit Profile (  @User.Identity.Name )</a>
        </span>
        <span class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link text-light bg-dark btn btn-outline-primary">Logout</button>
            </form>
        </span>
    }
    else
    {
        <span class="nav-item">
            <a class="nav-link text-light bg-dark btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </span>
    }
</div>
