@{
    ViewData["Title"] = "Building Operator Certification";
}

<!-- program title and image -->
<div>
    <div class="boc program-header">
        <div class="program-title">Building Operator Certification</div>
    </div>
</div>

<!-- program overview -->
<div class="container content-section">
    <h3>Building Operator Certification</h3>
    <p>
        The Building Operator Certification (BOC) is an online professional
        development program created by The Northwest Energy Efficiency Council
        (NEEC) and delivered by NWEEI. It is designed for operations and
        maintenance staff working in public or private commercial buildings.
        It provides education to individuals in energy and resource-efficient
        operation of building systems.
    </p>
    <p>
        The BOC registration fee of $1,895 includes the full course series
        of Level I or Level II, a set of course workbooks, project assignments,
        and certificate materials. Some participants may qualify for a cash
        incentive of up to $1,400 provided by
        <a class="font-weight-bold" href="https://energytrust.org/commercial/tools-resources/">
            Energy Trust of Oregon
        </a>
        to help with the cost of completing Level I or Level II BOC training.
    </p>

    <p class="text-center pt-2 font-weight-bold mb-0">
        <a asp-controller="About" asp-for="ContactUs">
            Contact us to learn more about the Building Operator Certification.
        </a>
    </p>
</div>

<!-- certification levels -->
<div class="dark-block">
    <div class="container">
        <div class="content-section">

            <div class="row text-center boc-levels">

                <!-- level 1 -->
                <div class="col-5">
                    <h4>
                        Building Operator Certification
                    </h4>
                    <h5>
                        Level I
                    </h5>
                    <p class="text-white">
                        To receive the Level I certificate, participants must
                        attend eight Level I classes (74 hours), and complete
                        class exams and project assignments at your facility.
                        These hours reflect in-class time as well as project time.
                        The first class is a two-day class.
                    </p>
                </div>

                <!-- divider -->
                <div class="col-2 divider text-center">
                    <hr />
                </div>

                <!-- level 2 -->
                <div class="col-5">
                    <h4>
                        Building Operator Certification
                    </h4>
                    <h5>
                        Level II
                    </h5>
                    <p class="text-white">
                        To receive the Level II certificate, participants must
                        attend four core classes and two elective classes, complete
                        class exams, and assigned projects, for a total of 61 hours.
                        These hours reflect in-class time as well as project time.
                    </p>
                </div>
            </div>

            <!-- learn more: link to BOC site -->
            <div class="row justify-content-center mt-4">
                <h5 class="mb-0">
                    Visit the
                    <a class="dark-block-link"
                       href="https://www.theboc.info/building-operator-training/course-descriptions/">
                        BOC Website
                    </a>
                    to learn about the classes offered for each level.
                </h5>
            </div>
        </div>
    </div>
</div>

<!-- who should attend -->
<div class="container content-section d-flex">
    <img src="~/images/woman-eng_adb_403276685.jpeg" class="content-image" />

    @*backup image*@
    @*<img src="~/images/ctrl-panel_adb_42605852.jpeg" class="content-image" />*@


    <div class="content-info">
        <h4>Who Should Attend?</h4>
        <p>
            The Building Operator Certification is ideal for operations
            and maintenance staff working in public or private commercial
            buildings, including:
        </p>

        <ul class="mb-0">
            <li>Engineers</li>
            <li>Technicians</li>
            <li>Architects</li>
            <li>Facility, Maintenance & Energy Managers</li>
        </ul>
    </div>
</div>

<!-- current schedule -->
<div class="light-block">
    <div class="container">
        <div class="content-section">
            <h4 class="text-center">
                Current Schedule: Level I Summer 2022 Fast Track
            </h4>

            <!-- schedule table -->
            <div>
                <table class="schedule">
                    <thead>
                        <tr>
                            <th style="border-radius: 20px 0px 0px 0px;">Date</th>
                            <th>Class</th>
                            <th style="border-radius: 0px 20px 0px 0px;">Instructor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>June 22, 2022</td>
                            <td>BOC 1001A: Energy Efficient Operation of Building HVAC Systems</td>
                            <td>Suzanne Marinello</td>
                        </tr>
                        <tr>
                            <td>June 29, 2022</td>
                            <td>BOC 1001B: Energy Efficient Operation of Building HVAC Systems</td>
                            <td>Suzanne Marinello</td>
                        </tr>
                        <tr>
                            <td>July 13, 2022</td>
                            <td>BOC 1002: Measuring & Benchmarking Energy Performance</td>
                            <td>Roger Ebbage</td>
                        </tr>
                        <tr>
                            <td>July 27, 2022</td>
                            <td>BOC 1003: Efficient Lighting Fundamentals</td>
                            <td>Dawn Doberenz</td>
                        </tr>
                        <tr>
                            <td>August 10, 2022</td>
                            <td>BOC 1004: HVAC Controls Fundamentals</td>
                            <td>Suzanne Marinello</td>
                        </tr>
                        <tr>
                            <td>Sept 7, 2022</td>
                            <td>BOC 1005: Indoor Environmental Quality</td>
                            <td>Karen Chase</td>
                        </tr>
                        <tr>
                            <td>August 24, 2022</td>
                            <td>BOC 1006: Common Opportunities for Low-Cost Energy Savings</td>
                            <td>Suzanne Marinello</td>
                        </tr>
                        <tr style="padding-bottom: 1%;">
                            <td>September 14, 2022</td>
                            <td>BOC 2004: Water Efficiency for Building Operators</td>
                            <td>Brenda Cervantes</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- apply / register / learn more -->
<div class="container content-section text-center">
    <h5>
        Contact NWEEI to learn more about the Building Operator Certification.
    </h5>

    <!-- buttons -->
    <div class="container w-75">
        <div class="button-group row">
            <a asp-controller="About" asp-action="ContactUs" class="btn btn-primary">
                Contact Us
            </a>

            <a class="btn btn-primary" asp-controller="Registration" asp-action="Create">Register</a>
        </div>
    </div>
