@{
    ViewData["Title"] = "Custom Training";
}


<!-- program title and image -->
<div>
    <div class="custom-training program-header">
        <div class="program-title">Custom Training</div>
    </div>
</div>

<!-- program overview -->
<div class="container content-section">
    <h3>Custom Training Options</h3>
    <p>
        NWEEI utilizes instructors from an expansive network of industry experts to provide
        training nationally and internationally. We customize and create programs for our
        participants that are tailored to meet specific educational demand. These programs
        can cover a wide range of efficiency topics and can be delivered utilizing on-site
        facilities, remote locations and virtually online.
    </p>

    <p class="text-center pt-2 font-weight-bold">
        <a asp-controller="About" asp-action="ContactUs">
            Contact NWEEI to build your custom training program.
        </a>
    </p>
</div>

<!-- energy basics -->
<div class="dark-block">
    <div class="container">
        <div class="content-section">

            <h4 class="text-center">Energy Basics</h4>

            <div class="container">
                <ul class="training-details">
                    <li>Introduction and overview of the Energy industry</li>
                    <li>Sensible/latent heat equations; psychometrics</li>
                    <li>Heating/cooling load equations and basic sizing</li>
                    <li>Energy conversion between different fuel types</li>
                    <li>Conversion of different units of energy/power</li>
                    <li>The refrigeration process</li>
                    <li>Interpreting and understanding different Energy ratings (SEER, EERs AFUEs, COP)</li>
                    <li>Fundamental building systems and terminology</li>
                    <li>The physics of heating, ventilation, and air conditioning systems (HVAC)</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- residential energy -->
<div>
    <div class="container">
        <div class="content-section">

            <h4 class="text-center">Residential Energy</h4>

            <div class="container">
                <ul class="training-details">
                    <li>BPI Residential Inspector Certification (CSC)</li>
                    <li>BPI Residential Auditor Certification (CSC)</li>
                    <li>Energy efficient heating and cooling systems</li>
                    <li>Blower door and duct blaster basics</li>
                    <li>Basic heat loss calculations</li>
                    <li>Indoor air pollution/air quality</li>
                    <li>Stack effect, energy flow, pressure, and heat transfer through building envelope</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- building system operation -->
<div class="light-block">
    <div class="container">
        <div class="content-section">

            <h4 class="text-center">Building System Operation</h4>

            <div class="container">
                <ul class="training-details">
                    <li>HVAC Classification (Unitary, single zone and multi- zone secondary systems)</li>
                    <li>Educational walkthroughs of HVAC equipment along with typical operation</li>
                    <li>Typical HVAC operation (fans, pumps, dampers, control valves and ducting)</li>
                    <li>Basics of electric, pneumatic, and digital controls</li>
                    <li>Control theory, device identification and typical operation</li>
                    <li>Control strategies to estimate energy savings</li>
                    <li>Compressed Air Challenge</li>
                    <li>Water Efficiency & Conservation</li>
                    <li>System Maintenance</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- analysis of energy use in commercial buildings -->
<div>
    <div class="container">
        <div class="content-section">

            <h4 class="text-center">Analysis of Energy Use in Commercial Buildings</h4>

            <div class="container">
                <ul class="training-details">
                    <li>Utility Bill analysis and addressing high energy bill concerns</li>
                    <li>Establishing an energy utilization index (EUI)</li>
                    <li>
                        End use splits for major energy using systems (Space Heating,
                        Space Cooling, Ventilation, Lighting, Plug load, etc.)
                    </li>
                    <li>Benchmarking buildings with EPA’s Portfolio Manager</li>
                    <li>Energy/cost savings associated with different efficiency improvement strategies</li>
                    <li>Evaluate lighting system performance of luminaries and associated components</li>
                    <li>Lighting and HVAC interactions</li>
                    <li>Calculating power density (watts sq/ft)</li>
                    <li>Interpreting Auditing data</li>
                    <li>Heating Degree Days, Bin Data, Hourly Simulation (eQuest)</li>
                    <li>Energy Modeling and Simulation (eQuest / DOE2)</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- energy auditing concepts -->
<div class="dark-block">
    <div class="container">
        <div class="content-section">

            <h4 class="text-center">Energy Auditing Concepts</h4>

            <div class="container">
                <ul class="training-details">
                    <li>Data collection and organizational techniques</li>
                    <li>Datalogger installation/usage to verify equipment operation, building performance and energy consumption</li>
                    <li>Determining energy/power usage in various systems</li>
                    <li>Light sources, luminaries, controls & operations</li>
                    <li>Creating and adjusting building baselines, cost avoidance, load factor, data analysis</li>
                    <li>Supervised Field Audits (ASHRAE Levels I, II & III)</li>
                    <li>Conducting a lighting audit</li>
                    <li>Identifying energy efficiency measures</li>
                    <li>Designing and writing a quality audit report</li>
                    <li>
                        Energy Savings Concepts and Calculations (Simply payback,
                        Life cycle cost, Low cost/no cost improvement)
                    </li>
                    <li>
                        Energy Investment Concepts and Calculations (Cost estimating procedures,
                        Time value of money, Cash flow equivalence,
                        Cost-benefit analysis, Effects of tax credits,
                        Depreciation vs Inflation and/or escalating fuel costs on energy investments)
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- integrating sustainability concepts into the built environment -->
<div>
    <div class="container">
        <div class="content-section">

            <h4 class="text-center">Integrating Sustainability Concepts into the Built Environment</h4>

            <div class="container">
                <ul class="training-details">
                    <li>Emerging Conservation Technologies</li>
                    <li>Sustainability Assessments</li>
                    <li>Carbon footprints in complex organizations</li>
                    <li>Environmental, social, and economic advantages of different alternative energy technologies</li>
                    <li>Alternative energy technology overview (geothermal, wind, low head hydro, solar and biomass)</li>
                    <li>Understanding the LEED framework and Green buildings</li>
                    <li>Green Procurement</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- water efficiency -->
<div class="light-block">
    <div class="container">
        <div class="content-section">

            <h4 class="text-center">Water Efficiency</h4>

            <div class="container">
                <ul class="training-details">
                    <li>Introduction and overview of the water industry</li>
                    <li>Conservation program design, implementation, evaluation, and marketing</li>
                    <li>Water usage patterns for rural, urban, residential, and commercial sites</li>
                    <li>Effective efficiency measures and utilizing alternate water sources</li>
                    <li>Water distribution, flow, and elimination systems; basic hydraulics; quality issues; balance and time of use</li>
                    <li>Water accessibility, supply and demand issues, seasonal stressors, legal rights</li>
                    <li>Monitoring, collecting, interpreting, and analyzing data to evaluate effectiveness of programs</li>
                    <li>Program modification over time to maximize savings</li>
                    <li>Water and cost savings calculations that contribute to comprehensive cost/benefit analysis reports</li>
                    <li>Stormwater and alternative water</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- resource conservation management -->
<div>
    <div class="container">
        <div class="content-section">

            <h4 class="text-center">Resource Conservation Management</h4>

            <div class="container">
                <ul class="training-details">
                    <li>Traditional Internal procurement processes</li>
                    <li>Collaborating with vendors to prioritize responsible procurement</li>
                    <li>Supply chain, consumption, waste, and climate change</li>
                    <li>Indicators and benchmarks for the specific buildings</li>
                    <li>Setting goals for performance, selecting, and making appropriate
                    calculations then accurately reporting performance</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- contact options -->
<div class="dark-block">
    <div class="container content-section">
        <h5 class="text-center">Contact NWEEI to build your custom training program.</h5>

        <!-- buttons -->
        <div class="container w-75">
            <div class="button-group row">
                <a href="tel:5415567724" class="btn btn-primary">Call Now</a>

                <!-- TODO: link to email -->
                <a href="#" class="btn btn-primary">Email Us</a>
            </div>
        </div>
    </div>
</div>
