@{
    ViewData["Title"] = "Energy Management with Building Controls";
}

<!-- degree title and image -->
<div>
    <div class="embc program-header">
        <div class="program-title">Energy Management with Building Controls</div>
    </div>
</div>

<!-- degree overview -->
<div class="container content-section">
    <h3>Energy Management with Building Controls, AAS</h3>
    <p>
        Building Controls technicians work in the fast-growing field of Energy Management.
        Our online, two-year Energy Management with Building Controls degree program will prepare
        you for a rewarding career managing highly technical buildings so they operate efficiently.
        Commercial buildings are responsible for approximately 40% of our national energy consumption
        and the jobs managing and optimizing building energy and water performance will help shape
        our environmental future.
    </p>

    <p class="pt-2">
        Once you're enrolled in the Building Controls program, you can optionally add the Building Energy
        Controls Apprenticeship (BECA) program. Apprentices may complete an Associate of Applied Science
        2-Year degree in Energy Management with Controls with the first year dedicated to core learning
        at Lane Community College, and the second year focusing on more advanced courses that run
        concurrently with apprenticeship hours at BECA. This program now also has a Registered
        Apprenticeship Program in the state of Oregon, which includes paid 2000 hours of on-the-job
        training in a local building in the student’s area. For more information contact Roger Ebbage
        at (541) 463-3670.

        <a class="font-weight-bold" href="https://becajobs.org/">
            Visit the BECA Jobs website to learn more.
        </a>
    </p>
</div>

<!-- what you'll learn -->
<div class="dark-block">
    <div class="container">
        <div class="content-section">
            <h4>What You'll Learn</h4>
            <p>Graduates of the program are able to:</p>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Building Automation</h6>
                    <p>
                        Learn modules and electronics commonly used to
                        implement building automation.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>HVAC & Lighting</h6>
                    <p>
                        Analyze a variety of commercial HVAC and lighting systems
                        from a controls perspective.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>Control Systems</h6>
                    <p>Diagnose and troubleshoot existing control systems.</p>
                </div>
            </div>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Energy Efficiency</h6>
                    <p>
                        Recommend energy efficiency and alternative control
                        solutions for high energy consuming buildings.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>Energy Consumption</h6>
                    <p>
                        Understand the interactions between energy consuming
                        building systems and implement control changes based
                        on that understanding.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>Residential & Commercial Energy</h6>
                    <p>
                        Use typical control system management software to evaluate
                        energy use patterns for residential and commercial buildings.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- personal attention from engaging faculty -->
<div class="container content-section d-flex">
    @*<img src="~/images/IMG_1993.JPG" class="content-image" />*@
    <img src="~/images/stories/trio-in-mech-room.jpg" class="content-image" />

    <div class="content-info">
        <h4>Personal Attention from Engaging Faculty</h4>
        <p>
            Lane offers students the best of both worlds: a wide variety
            of courses from which to choose and small class sizes. You’ll
            never take a class with more than 40 students, and most of your
            Energy Management courses will have just 15-20 students. Your classes
            will always be taught by an instructor with professional experience,
            and not a grad student. Program instructors and staff use their extensive
            experience and industry and alumni relationships to ensure your classes
            connect you to the real world. Program staff are always there to assist
            with whatever your needs may be.
        </p>
    </div>
</div>

<!-- job opportunities -->
<div class="light-block">
    <div class="container">
        <div class="content-section">
            <h4>Job Opportunities</h4>
            <p>
                Through local, regional, and national networking opportunities,
                our graduates meet business leaders directly. Our graduates work in a 
                wide variety of disciplines and may apply to work for a variety of different
                employers such as engineering firms, lighting companies, public and private
                utilities, energy equipment companies, and departments of energy.
                Positions include:
            </p>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Building Operator</h6>
                </div>

                <div class="content-highlight">
                    <h6>Control System Specialist, Technician</h6>
                </div>

                <div class="content-highlight">
                    <h6>Weatherization Installer and Technician</h6>
                </div>
            </div>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Energy Auditor</h6>
                </div>

                <div class="content-highlight">
                    <h6>Energy Resource Analyst</h6>
                </div>

                <div class="content-highlight">
                    <h6>Building Automation</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- apply / register / learn more -->
<div class="container content-section text-center">
    <h5>
        Apply to Lane Community College and register for the
        Energy Management with Building Controls program today.
    </h5>

    <!-- buttons -->
    <div class="button-group row">
        <a href="https://inside.lanecc.edu/science/energy-management-building-controls" class="btn btn-primary">
            Learn More
        </a>

        <a href="https://inside.lanecc.edu/apply" class="btn btn-primary">Apply to LCC</a>

        <a class="btn btn-primary" asp-controller="Registration" asp-action="Create">Register for Program</a>
    </div>
</div>