@{
    ViewData["Title"] = "Energy Management Technician";
}

<!-- degree title and image -->
<div>
    <div class="energy-mgmt program-header">
        <div class="program-title">Energy Management</div>
    </div>
</div>

<!-- degree overview -->
<div class="container content-section">
    <h3>Energy Management Technician, AAS</h3>
    <p>
        Energy Management is a growing technical industry. Not only is it a viable
        way to maintain a high level of energy efficiency as technology and needs change,
        it’s a great field for those interested in elevating their technical and mechanical
        careers. For more than 30 years, NWEEI and LCC have successfully provided
        significant opportunities to train professional technicians who can immediately
        contribute to energy, water and cost savings in their communities.
        Through this online program, students will learn how residential
        and commercial building systems consume energy by understanding how they
        work and the interaction between one another. Students will be able to
        evaluate and measure consumption and make an informed recommendation on
        building system energy efficiency improvements. Employment is found with
        government, utilities, engineering firms, school districts, community action
        programs, and residential weatherization practitioners.
    </p>
</div>

<!-- what you'll learn -->
<div class="dark-block">
    <div class="container">
        <div class="content-section">
            <h4>What You'll Learn</h4>
            <p>Graduates of the program are able to:</p>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Evaluate Usage Patterns</h6>
                    <p>
                        Evaluate energy use patterns for residential and commercial
                        buildings and recommend efficiency measures and renewable
                        energy solutions for high energy consuming buildings.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>Interpret Energy Concepts</h6>
                    <p>
                        Interpret the concepts of a problem-solving task, and, using mathematics,
                        translate concepts into energy related projects.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>Understand Energy Consumption</h6>
                    <p>
                        Understand the interaction between energy consuming building
                        systems and make energy use reduction recommendations based on
                        that understanding.
                    </p>
                </div>
            </div>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Analyze Data</h6>
                    <p>
                        Develop and evaluate inferences and predictions based on collected data.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>Create Reports</h6>
                    <p>
                        Construct energy evaluation technical reports and make
                        presentations for potential project implementation.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>Read Blueprints</h6>
                    <p>
                        Read and analyze building blueprints including floor, mechanical,
                        and electrical plans.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- hands on mentorship -->
<div class="container content-section d-flex">
    <img src="~/images/group_adb_491280583.jpeg" class="content-image" />

    <div class="content-info">
        <h4>Hands On Mentorship</h4>
        <p>
            Part of this program includes a mentorship. Students will apply their
            knowledge in hands-on training opportunities at one of our partner
            organizations in Oregon and Washington. Partners include energy service
            departments at public utilities like EWEB, EPUD, Lane Electric, Salem Electric
            Central Oregon Coop, Ashland Electric and many others. This part of the
            degree program provides students with invaluable opportunities to make
            industry connections that can support or provide potential employment opportunities.
        </p>
    </div>
</div>

<!-- job opportunities -->
<div class="light-block">
    <div class="container">
        <div class="content-section">
            <h4>Job Opportunities</h4>
            <p>
                Graduates of our Energy Management degree find employment in a wide variety
                of disciplines and may work for a diverse number of employers such as engineering
                firms, lighting companies, public and private utilities, energy equipment companies,
                and departments of energy. Positions include:
            </p>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Energy Program Coordinator</h6>
                </div>

                <div class="content-highlight">
                    <h6>Energy Analyst</h6>
                </div>

                <div class="content-highlight">
                    <h6>Commissioning Technician</h6>
                </div>
            </div>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Control System Specialist</h6>
                </div>

                <div class="content-highlight">
                    <h6>Building Operator</h6>
                </div>

                <div class="content-highlight">
                    <h6>Weatherization Installer and Technician</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- apply / register / learn more -->
<div class="container content-section text-center">
    <h5>
        Apply to Lane Community College and register for the
        Energy Management and Building Controls program today.
    </h5>

    <!-- buttons -->
    <div class="button-group row">
        <a href="https://catalog.lanecc.edu/preview_program.php?catoid=9&poid=857" class="btn btn-primary">
            Learn More
        </a>

        <a href="https://inside.lanecc.edu/apply" class="btn btn-primary">Apply to LCC</a>

        <a class="btn btn-primary" asp-controller="Registration" asp-action="Create">Register for Program</a>
    </div>
</div>