@{
    ViewData["Title"] = "Water Conservation Technician";
}

<!-- degree title and image -->
<div>
    <div class="water program-header">
        <div class="program-title">Water Conservation</div>
    </div>
</div>

<!-- degree overview -->
<div class="container content-section">
    <h3>Water Conservation Technician, AAS</h3>
    <p>
        Water matters to everyone, and globally, water issues are at crisis levels.
        Nationally, water providers are scrambling to replace aging infrastructure,
        retiring employees, and maintain quality and ecological integrity. Western
        states are already experiencing an exponential increase in water-related
        issues due to over-allocated surface water, decreasing snowpack trends, a
        doubling population by 2050 and rising pollution. As water-related issues
        continue to increase, more voluntary and mandatory water conservation
        opportunities are being created that require a technical skill set to address.
        If you’re interested in helping protect our limited water resources, the Water
        Conservation Technician program at Lane Community college is ready to prepare
        you for a career in the growing field of Water Conservation.
    </p>

    <p>
        Our online program offers you the flexibility to complete your degree on
        your own schedule. Our curriculum was built around an industry approved job
        task analysis, to help ensure you’re prepared to be successful in your career.
        You’ll also experience hands-on training at one of our partnering organizations
        that will show you how to apply your newfound knowledge in the real world.
    </p>
</div>

<!-- what you'll learn -->
<div class="dark-block">
    <div class="container">
        <div class="content-section">
            <h4>What You'll Learn</h4>
            <p>Graduates of the program are able to:</p>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Perform System Analyses</h6>
                    <p>
                        Understand water distribution, flow, and elimination systems;
                        basic hydraulics; quality issues; balance and time of use.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>Evaluate Accessibility</h6>
                    <p>
                        Understand the many stressors to water accessibility and how
                        they interact to affect supply and demand along with other issues.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>Create Conservation Programs</h6>
                    <p>
                        Design, implement, evaluate, and market water conservation
                        programs to a broad audience.
                    </p>
                </div>
            </div>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Calculate Costs</h6>
                    <p>
                        Calculate water and cost savings and produce comprehensive
                        cost/benefit analysis reports.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>Analyze Data</h6>
                    <p>
                        Monitor, collect, interpret and analyze data to evaluate
                        the effectiveness of programs and modify them over time.
                    </p>
                </div>

                <div class="content-highlight">
                    <h6>Evaluate Usage Patterns</h6>
                    <p>
                        Evaluate water usage patterns for rural, urban, residential,
                        and commercial sites; recommend efficiency measures as well
                        as alternative water sources.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- get real world experience -->
<div class="container content-section d-flex">
    <img src="~/images/water_adb_244643595.jpeg" class="content-image" />

    <div class="content-info">
        <h4>Get Real-World Experience</h4>
        <p>
            Employers are interested in more than just your degree. It’s important
            that you’re able to show that you have relevant, real world work knowledge,
            which is why many of your courses will include fieldwork. You’ll use the
            knowledge you’ve gained in the classroom to help you succeed in hands-on
            training opportunities at a partner organization in the Western United States.
            We’ll work to match you with a utility or practitioner in your area,
            after you’re enrolled in our program.
        </p>
    </div>
</div>

<!-- job opportunities -->
<div class="light-block">
    <div class="container">
        <div class="content-section">
            <h4>Job Opportunities</h4>
            <p>
                As a graduate in the Water Conservation Program, you’ll be ready to start
                your career in water use and conservation. Our program continually seeks
                out and participates in local, regional, and national networking opportunities
                for one simple reason: to promote our students directly to those who have
                the ability to provide jobs. Employment opportunities in Water Conservation
                are excellent, especially if you are willing to relocate.
            </p>
            <p>
                After you’ve earned your degree, you’ll be prepared to start working as:
            </p>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Water Conservation: Program Specialist, Manager</h6>
                </div>

                <div class="content-highlight">
                    <h6>Water Resource: Analyst, Specialist</h6>
                </div>

                <div class="content-highlight">
                    <h6>Rainwater Harvesting Technician</h6>
                </div>
            </div>

            <div class="content-highlight-container row">
                <div class="content-highlight">
                    <h6>Stormwater - Coordinator, Technician</h6>
                </div>

                <div class="content-highlight">
                    <h6>Conservation Warden</h6>
                </div>

                <div class="content-highlight">
                    <h6>Stewardship Coordinator</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- apply / register / learn more -->
<div class="container content-section text-center">
    <h5>
        Apply to Lane Community College and register for the
        Water Conservation Technician program today.
    </h5>

    <!-- buttons -->
    <div class="button-group row">
        <a href="https://inside.lanecc.edu/science/water-conservation-technician" class="btn btn-primary">
            Learn More
        </a>

        <a href="https://inside.lanecc.edu/apply" class="btn btn-primary">Apply to LCC</a>

        <a class="btn btn-primary" asp-controller="Registration" asp-action="Create">Register for Program</a>
    </div>
</div>