@{
    ViewData["Title"] = "Contact & Location";
}

<!-- contact -->
<div class="container content-section text-center">
    <h4 class="pt-2">
        <a asp-controller="About" asp-action="ContactUs">Contact us</a> if you have any questions.
    </h4>
</div>

<h1>Contact & Location</h1>
<!--Downtown Location-->
<div class="dark-block">
    <div class="container">
        <div class="content-section d-flex">
            <figure class="content-figure">
                <img src="/images/stories/downtowncampus-front-01-09-13.jpg" class="content-figure-image" alt="A view of the Downtown Campus, from the street." />
                <figcaption class="content-figcaption">
                    A view of the Downtown Campus, from the street.
                </figcaption>
            </figure>

            <div class="content-info">
                <h3>Downtown Campus</h3>
                <p>
                    Northwest Water & Energy Education Institute at Lane Community College - Downtown Campus<br />
                    101 West 10th Ave, Eugene, Oregon 97401
                </p>
                <a href="https://www.lanecc.edu/about-lane/our-campuses/mary-spilde-downtown-center/parking-and-transportation" class="font-weight-bold">
                    For parking information, click here!
                </a>
                <table>
                    <tr>
                        <th> <i class="fa-solid fa-phone"></i> </th>
                        <th> Phone: </th>
                        <td><a href="tel:5415567724">(541) 556-7724</a></td>
                    </tr>
                    <tr>
                        <th> <i class="fa-solid fa-envelope"></i> </th>
                        <th> Email: </th>
                        <td> <a href="mailto: info@nweei.org">info@nweei.org</a> </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

        <!--Mailing/Billing Address-->
<div class="light-block">
    <div class="container">
        <div class="container content-section d-flex">

            <div class="content-info">

                <h3>Mailing/Billing Address</h3>
                <p>
                    Lane Community College<br />
                    4000 E 30th Ave<br />
                    Eugene, Oregon 97405
                </p>

                <p class="font-weight-bold">Main Campus - Location/Map</p>
                <p>All NWEEI programs are virtual</p>

                <p class="font-weight-bold">Main Campus</p>
                <p>
                    ISP Division-Lane Community College<br />
                    4000 E 30th Ave<br />
                    Eugene, Oregon
                </p>

                <table>
                    <tr>
                        <th> <i class="fa-solid fa-phone"></i> </th>
                        <th> Phone: </th>
                        <td><a href="tel:5415567724">(541) 556-7724</a></td>
                    </tr>
                    <tr>
                        <th> <i class="fa-solid fa-fax"></i> </th>
                        <th> Fax: </th>
                        <td>1-541-463-6179</td>
                    </tr>
                </table>
            </div>
            <figure class="content-figure">
                <img src="/images/stories/birdeyesnap_building.jpg" class="content-figure-image" alt="Birdseye view of Main Campus, science building #16." />
                <figcaption class="content-figcaption">
                    Birdseye view of Main Campus, science building #16.
                </figcaption>
            </figure>
        </div>
    </div>
</div>
