@{
    ViewData["Title"] = "Mission & History";
}
<div class="container content-section">
    <h3>Mission & History</h3>
    <p>
        The Northwest Water & Energy Education Institute (NWEEI) offers both standard and custom learning opportunities throughout the Northwest for energy and water industry practitioners – including an energy management certification program. NWEEI is located within the Science Department at Lane Community College.  Starting in 2018 all Energy Classes have been offered online and in Fall of 2019 the Water Conservation Program is also online.  Great opportunities for folks outside of the Lane Community College area.
    </p>
</div>

<div class="dark-block">
    <div class="container">
        <div class="content-section">
            <p>
                Guided by a regional advisory board, NWEEI has provided energy efficiency training and development throughout the Northwest region since 1998. Participants have included technicians, contractors, engineers, architects, consultants, utility personnel, and energy managers.
            </p>
            <p>
                The Energy Management Program offered through Lane Community College has ties back as far as 1980 when Alan Gubrud, a physics instructor, obtained a grant from the National Science Foundation to develop a curriculum that combined the principles of basic physics with energy analysis techniques. Students gained a working understanding of energy systems in the built environment and the tools to analyze and quantify energy efficiency efforts. The program began with an emphasis on residential energy efficiency / general solar energy systems and has evolved to include technician level commercial energy efficiency, renewable energy system installation and water conservation skillsets.
            </p>
            <br />
            <p>
                For over 30 years, the organization has successfully provided significant opportunities to train professional technicians who can immediately contribute to energy and cost savings in their own communities and was the first college in the nation to offer a degree in energy management. The Energy Management Program was named 2002/03 Innovation of the Year by the League for Innovation and received the Award of Recognition from the U.S. Secretary of Education in 1983.
            </p>
            <p>
                In 2006, Lane Community College began the Water Conservation Technician program.  Classes included Residential, Landscape, Agriculture, Mechanical Systems and Commerical/Industrial Water.  In addition, students studied Regional Water Policy and Integrated Water Management.  Some changes have been made but most of these same classes remain.  Our students are now from the Western United States.  And we have added Alternative Water Sources, Stormwater and Codes and Policies.
            </p>
            <p>
                Both programs are now partnering with a wider geographic group of partners. Give us a call to see what we can offer.
            </p>
            <p>
                NWEEI offers the following energy training at your facility or one of our partnership locations:
            </p>
            <div class="row">
                <div class="col-6">
                    <lh class="content-list-heading">Training Topics</lh>
                    <ul class="content-list">
                        <li>Residential HVAC</li>
                        <li>Commercial HVAC</li>
                        <li>Emerging Conservation Technologies</li>
                        <li>Addressing High Energy Bill Concerns</li>
                        <li>Green Procurement</li>
                        <li>Residential Inspector Certification</li>
                        <li>Compressed Air Challenge</li>
                        <li>Load Calculations</li>
                        <li>Water Efficiency & Conservation</li>
                        <li>Data Logging</li>
                        <li>System Maintenance</li>
                        <li>Solar Energy Deregulation</li>
                        <li>Direct Access</li>
                    </ul> 
                </div>

                <div class="col-6">
                    <lh class="content-list-heading">Current Certifications</lh>
                    <ul class="content-list">
                        <li>
                            <a href="/Programs/ProfessionalDevelopment/EnergyManagment">
                                Energy Management Certification
                            </a>
                        </li>
                        <li>
                            <a href="/Programs/ProfessionalDevelopment/BuildingOperator">
                                Building Operators Certification
                            </a>
                        </li>
                    </ul>

                    <lh class="content-list-heading">Legacy Certifications</lh>
                    <ul class="content-list">
                        <li>BPA Residential Energy Certification</li>
                        <li>Sustainable Building Advisor</li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</div>