@{
    ViewData["Title"] = "Instructors";
}
<h1>Instructors</h1>

<p>
    Courses are taught by a diverse and impressive staff of energy professionals, each of whom carries the highest credentials within their disciplines.
</p>
<p>
    This wide array of disciplines gives students a broad energy and water knowledge base from which they can make wise efficiency decisions–often formulating innovative and new solutions that employ strategies the student might never have considered.    
</p>
<h5>
    Listed below are our Fabulous Instructors
</h5>
<table class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="3">Energy Management Instructors</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-nowrap">Alan Gubrud</td>
            <td>Energy Management Program Creator (Retired)</td>
            <td></td>
        </tr>
        <tr>
            <td class="text-nowrap">Mike Hatten, P.E.</td>
            <td>Principal, SOLARC Energy Group and Energy Program Mentor</td>
            <td></td>
        </tr>
        <tr>
            <td class="text-nowrap">Devon Guyette, CEM</td>
            <td>Member, SOLARC Energy Group</td>
            <td>Commercial Energy Use Analysis and Accounting</td>
        </tr>
        <tr>
            <td class="text-nowrap">Dawn Dobrenz</td>
            <td>Lighting Consultant and Educator</td>
            <td>Introduction Lighting</td>
        </tr>
        <tr>
            <td class="text-nowrap">Bruce Alford, BBB</td>
            <td>Retired - Energy Analyst, Oregon Department of Energy - Controls Specialist</td>
            <td></td>
        </tr>
        <tr>
            <td class="text-nowrap">Suzanne Marinello, P.E.</td>
            <td>Energy Consultant and Educator</td>
            <td>HVAC and Controls</td>
        </tr>
        <tr>
            <td class="text-nowrap">Adam Perry, CEM</td>
            <td>Energy Program Manager</td>
            <td>Energy Computer Applications</td>
        </tr>
        <tr>
            <td class="text-nowrap">Roger Ebbage, CEM</td>
            <td>Director, Northwest Energy Education Institute</td>
            <td>Intro to Energy Management</td>
        </tr>
    </tbody>
</table>
<br />
<table class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="3">Water Conservation Technician Program Instructors</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-nowrap">Laura Allen</td>
            <td>Greywater Action Educator</td>
            <td>Alternative Water Sources and Greywater Reuse</td>
        </tr>
        <tr>
            <td class="text-nowrap">Grey Butler</td>
            <td>Arizona Project WET</td>
            <td>Planning and Permitting for Natural Resources, Career Exploration in Water & Stormwater Specialist</td>
        </tr>
        <tr>
            <td class="text-nowrap">Steve West</td>
            <td>Eugene Water & Electric Board (Retired)</td>
            <td>Water Conservation Best Management Practices & Case Studies</td>
        </tr>
    </tbody>
</table>