@{
    ViewData["Title"] = "Staff";
}
<div class="staff">
    <h1>Our Staff:</h1>
    <div class="staff-container row">
        <div class="staff-portrait col-3">
            <img  src="/images/stories/staff_photos/RogerEbbage.jpg" class="staff-image" alt="Roger Ebbage" />
        </div>
        <div class="staff-bio col-9">
            <h3>
                Roger Ebbage
            </h3>
            <h5>
                Director of Energy and Water Programs |  541-463-6160 
                <a class="linkedin-btn" href="https://www.linkedin.com/in/roger-ebbage-16b35a5/" target="_blank"></a>
            </h5>
            <p>
                In 1998 through a contract with the Northwest Energy Efficiency Alliance, Roger created the Northwest Water and Energy Education Institute providing practitioner professional development opportunities nationally and internationally and has been honored by the Association of Professional Energy Managers, the Interstate Renewable Energy Council, the Community College League for Innovation, and most recently (2018), the Association of Energy Engineers with achievement awards. Roger's particular professional interests include working with students who are entering and working through the LCC two year Energy and Water degree programs resulting in meaningful employment, and assisting other community colleges with creating their own energy-related programs, Having an interest in passive solar building design beginning in the early eighties, Roger was able to convince a Science Division hiring team to bring him on as the LCC Energy Management Program Coordinator in 1992. Since that time he's been working with an exceptional instructional/support staff and energy colleagues (SOLARC, EWEB, BPA, IREC, NWPPA, NEEA, NEEC) throughout the Northwest/US to develop what has become the national model for energy education.
            </p>
            <p>
                Most recently, Roger serves as the Principal Investigator (PI) on two National Science Foundation (NSF) grants that put both the Energy Management and Water Conservation Programs fully online and as a Co-PI on the NSF Center For Renewable Energy Advanced Technological Education (CREATE) Resource Center out of Madison College in Madison, WI.
            </p>
        </div>
    </div>

    
    <div class="staff-container row">
        <div class="staff-portrait col-3">
            <img  src="/images/stories/staff_photos/BrendaCervantes.jpg" class="staff-image" alt="Brenda Cervantes" />
        </div>
        <div class="staff-bio col-9">
            <h3>
                Brenda Cerventes
            </h3>
            <h5>
                Project Specialist Water & Energy Programs|  541-463-6175
                <a class="linkedin-btn" href="https://www.linkedin.com/in/cervantes60" target="_blank"></a>
            </h5>
            <p>
                Brenda graduated from the Water Conservation program in 2013. She also received her GIS pathway certificate from LCC. In addition, Brenda graduated from PSU with a BS in Social Science and additional coursework in the Natural Sciences. Brenda loves to learn and is a very curious person. That is why she has a varied background and has had many career shifts. She just loves a challenge. In the 80s it was Zookeeping. 7 years at the Fresno Zoo; then she moved to Oregon and got her degree in Social Science and a teaching certification. She worked with Alternative Education and At-Risk Youth; working with the Latino Community Her Spanish got better! She also did a stint at the State of Oregon Employment Department; an Office Manager and Personal Assistant for a Trauma Surgeon and then a small business owner, coffee!
            </p>
            <p>
                In 2010, Brenda started LCC and got her degree in the Water Conservation Technician Program. She worked at a local watershed council for a couple of years while in school. Then off to the coast to work for City of Florence Public Works as a GIS technician. But she still wanted to make a difference in the Water World. So now she is back at Lane Community College as a Project Specialist helping to put the program online. An NSF Grant is funding this effort. She is excited!! Curious!!
            </p>
        </div>
    </div>

    
    <div class="staff-container row">
        <div class="staff-portrait col-3">
            <img  src="/images/stories/staff_photos/BeckieHolloway.jpg" class="staff-image" alt="Beckie Holloway" />
        </div>
        <div class="staff-bio col-9">
            <h3>
                Beckie Holloway
            </h3>
            <h5>
                Administrative Specialist 
            </h5>
            <p>
                Beckie joined our team to assist in the office and with our students. She is the keeper of keys, schedules, student records, invoices, billing, payments and much more. Beckie is already producing results with both the Building Operator's Certification and the Energy Management Programs. She is our point of student contact for those entering our programs and with her exceptional people skills, we are lucky that she has chosen NWEEI for her employment!!
            </p>
        </div>
    </div>

    
    <div class="staff-container row">
        <div class="staff-portrait col-3">
            <img  src="/images/stories/staff_photos/BruceAlford.jpg" class="staff-image" alt="Bruce Alford" />
        </div>
        <div class="staff-bio col-9">
            <h3>
                Bruce Alford
            </h3>
            <h5>
                Adjunct Energy Instructor / Mr. PIBB |  541-463-6177
                <a class="linkedin-btn" href="https://www.linkedin.com/in/r-bruce-alford-b8562335/" target="_blank"></a>
            </h5>
            <p>
                Also known as Mr. PIBB, Bruce has accepted a full-time faculty position beginning in the summer of 2010. His specialties include advanced spreadsheets, commercial building energy modeling, lighting upgrade technology, and advanced analysis of energy-using HVAC equipment and control systems.
            </p>
            <p>
                Bruce is a fellow graduate of the Energy Management Program (1994) and worked at Solarc Architecture and Engineering until 2005.  He recently completed a five-year opportunity at the Oregon Department of Energy that helped public schools other state buildings save energy and operating expenses.  The opportunity to continue learning and the common bond shared with other devoted professionals contribute to his belief that he currently holds the best job in the state -- He often says he can’t believe he gets paid to do what he loves to do!
            </p>
        </div>
    </div>
</div>