
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Site Dashboard</h1>
<h5 class="text-muted text-center">Manage sections of the website from here.</h5>
<div class="container">
    @if (User.IsInRole("Admin"))
    {
        <div class="row justify-content-around">
            <a class="dashboard-tile col-auto" asp-controller="AppUser" asp-action="Index">
                    <div class="text-truncate">Users</div>
                    <i class="fa-solid fa-user-pen fa-3x"></i><br />
            </a>
            <a class="dashboard-tile col-auto" asp-controller="Registration" asp-action="Index">
                <div class="text-truncate">Registrations</div>
                <i class="fa-solid fa-address-card fa-3x"></i><br />
            </a>
            <a class="dashboard-tile col-auto" asp-controller="Article" asp-action="Manage">
                <div class="text-truncate">Articles</div>
                <i class="fa-solid fa-newspaper fa-3x"></i><br />
            </a>
        </div>
    }
    <div class="row justify-content-around">
        <a class="dashboard-tile col-auto" asp-controller="Category" asp-action="Index">
            <div class="text-truncate">Categories</div>
            <i class="fa-solid fa-table-columns fa-3x"></i><br />
        </a>
        <a class="dashboard-tile col-auto" asp-controller="Organization" asp-action="Index">
            <div class="text-truncate">Organizations</div>
            <i class="fa-solid fa-building fa-3x"></i><br />
        </a>
        <a class="dashboard-tile col-auto" asp-controller="FAQ" asp-action="Manage">
            <div class="text-truncate">FAQs</div>
            <i class="fa-solid fa-question fa-3x"></i><br />
        </a>
    </div>
</div>

