
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Admin Dashboard</h1>
<h5 class="text-muted text-center">Manage sections of the website from here.</h5>
<div class="container">
    <div class="row justify-content-around">
        <a class="dashboard-tile col-auto" asp-controller="AppUser" asp-action="Index">
            <i class="fa-solid fa-user-pen fa-3x"></i><br />
            <div class="text-truncate">Users</div>
        </a>
        <a class="dashboard-tile col-auto" asp-controller="Article" asp-action="Index">
            <i class="fa-solid fa-newspaper fa-3x"></i><br />
            <div class="text-truncate">Articles</div>
        </a>
        <a class="dashboard-tile col-auto" asp-controller="Registration" asp-action="Index">
            <i class="fa-solid fa-address-card fa-3x"></i><br />
            <div class="text-truncate">Registrations</div>
        </a>
    </div>
    <div class="row justify-content-around">
        <a class="dashboard-tile col-auto" asp-controller="Category" asp-action="Index">
            <i class="fa-solid fa-table-columns fa-3x"></i><br />
            <div class="text-truncate">Categories</div>
        </a>
        <a class="dashboard-tile col-auto" asp-controller="Organization" asp-action="Index">
            <i class="fa-solid fa-building fa-3x"></i><br />
            <div class="text-truncate">Organizations</div>
        </a>
        <a class="dashboard-tile col-auto" asp-controller="Tag" asp-action="Index">
            <i class="fa-solid fa-hashtag fa-3x"></i><br />
            <div class="text-truncate">Tags</div>
        </a>
    </div>
</div>

