@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome">
    <h1 class="display-5">Welcome</h1>
    <p>
        The Northwest Water & Energy Education Institute (NWEEI) offers both standard and custom
        learning opportunities throughout the Northwest for energy and water industry practitioners –
        including an energy management certification program. NWEEI is located within the Science Department
        at Lane Community College.  Starting in 2018 all Energy Classes have been offered online and in
        Fall of 2019 the Water Conservation Program is also online.  Great opportunities for folks
        outside of the Lane Community College area.
    </p>
    <p>
        Guided by a regional advisory board, NWEEI has provided energy efficiency training and development
        throughout the Northwest region since 1998. Participants have included technicians, contractors,
        engineers, architects, consultants, utility personnel, and energy managers.
    </p>
    <a asp-controller="Resources" asp-action="CareerMap">View the Green Buildings Career Map</a>
</div>
